.planCard {
    border-radius: 8px;
    padding-bottom: 12px;
    border: 1px solid var(--black);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.planCardName {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
}

.planCardTriangle {
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.priceContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.priceInt {
    font-size: 32px;
    margin-left: 8px;
    text-decoration: underline;
}

.priceDec {
    align-self: stretch;
    text-align: center;
}

.priceTime {
    font-size: 12px;
    margin-block: 10px;
}

.planCardBody {
    background-color: var(--white);
}

.planCardBody > div {
    padding-inline: 16px;
    padding-top: 30px;
}

.planCardBody > button {
    padding-inline: 20px;
    padding-block: 6px;
    background: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.planCardBody > button:disabled {
    background-color: var(--gray);
    border: 1px solid var(--gray);
}

.planCardBody > button:hover:enabled {
    background: var(--white);
    color: var(--blue);
}

.planCard > footer {
    margin-top: 10px;
    font-size: 9px;
    font-weight: 300;
    text-align: center;
}

.includesContainer {
    text-align: initial;
    margin-bottom: 10px;
    padding-right: 16px;
    padding-block: 10px;
    font-size: 12px;
}

.includesContainer > p {
    font-size: 16px;
}

.includesContainer > ul {
    margin-top: 10px;
    padding-left: 10px;
}

.includesContainer li {
    display: flex;
    margin-bottom: 8px;
}

.includesContainerIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
