.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: #00ffff;
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 12px 0px;
}

.rightLinksContainer {
    display: none;
}

.rightLinks {
    display: flex;
    gap: 3rem;
}

.rightLinks > li {
    display: block;
}

.hamburgerMenuContainer {
    border-left: 1px solid var(--gray);
    height: 100%;
    display: flex;
}

.hamburgerMenuContainer > button {
    border: none;
    background: transparent;
    display: flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
}

.hamburgerMenuIcon {
    width: 32px;
    height: auto;
    fill: var(--purple);
}

.hamburgerMenuIcon path {
    stroke: var(--purple);
}

.hamburgerMenuButton {
    height: 5rem;
    height: 100%;
}

.modal {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
}

.hamburgerNav {
    position: absolute;
    width: 100%;
    top: 5rem;
    left: 0;
    background-color: var(--white);
    transition: 0.3s ease-out;
}

.hamburgerLinks {
    display: block;
    padding-inline: 10px;
    padding-block: 8px;
}

.hamburgerLinks > li {
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
    padding-block: 24px;
    border-bottom: 1px solid var(--gray);
}

@media screen and (min-width: 40em) {
    .header {
        padding-inline: 12px;
    }

    .rightLinksContainer {
        display: block;
    }

    .hamburgerMenuContainer {
        display: none;
    }
}