.footer {
    background: #171717;
    display: flex;
    justify-content: center;
    padding-block: 12px;
    color: var(--white);
    flex-direction: column;
    align-items: center;
}

.footerLinks {
    display: flex;
    padding: 0;
    font-size: 12px;
}
.footerLinks > li {
    display: block;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.footerLinks > li:hover {
    color: #05BDDB;
}

.separator {
    height: auto;
    margin-inline: 0.7rem;
    border-left: 1px solid var(--white);
}

.rightsContainer {
    margin-top: 24px;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 12px;
}

@media screen and (min-width: 52em) {
    .footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-inline: 64px;
    }

    .footerLinks {
        font-size: 16px;
    }

    .separator {
        margin-inline: 1rem;
    }

    .rightsContainer {
        font-size: 16px;
        margin-top: 0;
    }
}